@charset "utf-8";

/* ------------------------------------------------------------------------------------------------------------- */
/* [ Background ] */
#wrap {
	background: url(../images/page031/page031_background.jpg) 0 0 / 100% no-repeat;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* [ Content ] 탐구 활동 */
.content.inquiry {
	height: calc(1024px - 60px - 242px);
}

/* ------------------------------------------------------------------------------------------------------------- */
/* [ Content ] 페이지 콘텐츠 */

 
 
.btn_wrap.line_right {
	z-index: 10
}

.p31_event_area {
	position: relative;
	width: 100%;
	height: 530px;
	background: url(../images/page111/page111_03.jpg) 0 0 / 650px no-repeat;
}


.p31_event_area .clickBtn {
	position: absolute;
	width: 63px;
	height: 66px;
}

.p31_event_area .clickBtn.n1 {
	left: 100px;
		top: 148px;
}

.p31_event_area .clickBtn.n2 {
		left: 300px;
			top: 150px;
}

.p31_event_area .clickBtn.n3 {
	right: 100px;
		top: 100px;
}

.p31_event_area .clickBtn.n4 {
	left: 323px;
		bottom: 100px;
}

.p31_event_area .clickBtn.n5 {
	right: 100px;
	bottom: 200px;
}

.p31_event_area .play_area .txt {
	position: absolute;
	z-index: 3;
	opacity: 0;
	text-align: center;
}
.p31_event_area .play_area .txt p{
	line-height: 1.4;
}

.p31_event_area .play_area.n1 .txt{
	background: url(../images/page111/page111_bb_06.png)0 0 / 100% no-repeat;
	width: 137px;
	height: 86px;
	padding: 14px 5px 0 5px;
	line-height: 20px;
	left: 50px;
	top: 50px;
}

.p31_event_area .play_area.n2 .txt {
	background: url(../images/page111/page111_bb_13.png)0 0 / 100% no-repeat;
	width: 150px;
	height: 86px;
	padding: 14px 5px 0 5px;
	line-height: 20px;
	left: 250px;
	top: 85px;
}

.p31_event_area .play_area.n3 .txt {
	background: url(../images/page111/page111_bb_03.png)0 0 / 100% no-repeat;
	width: 180px;
	height: 86px;
	padding: 12px 5px 0 5px;
	line-height: 20px;
	right: 50px;
	top: 0px;
}

.p31_event_area .play_area.n4 .txt {
	background: url(../images/page111/page111_bb_17.png)0 0 / 100% no-repeat;
	width: 164px;
	height: 106px;
	padding: 12px 5px 0 5px;
	line-height: 20px;
	right: 230px;
	bottom: 160px;
}


.p31_event_area .play_area.n5 .txt {
	background: url(../images/page111/page111_bb_10.png)0 0 / 100% no-repeat;
	width: 138px;
	height: 86px;
	padding: 32px 5px 0 5px;
	line-height: 20px;
	right: 50px;
	bottom: 50px;
}

.p31_event_area .play_area .txt.on {
	opacity: 1;
	transition: all 0.5s;
	transition-delay: 0.5s;
}


.toast_area.toast_star .toast {
	height: 158px
}

/* ------------------------------------------------------------------------------------------------------------- */
/* [ Popup ] 생각 키우기 */

/* ------------------------------------------------------------------------------------------------------------- */
/* [ Popup ] 보충 */
.pop_supplement figure {
	margin: 20px auto 0px
}

.pop_supplement figure figcaption {
	text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------- */
/* [ Popup ] 심화 */
.pop_deep strong {
	display: block;
	font-size: 18px;
	font-weight: 600;
	margin: 20px 0px 10px
}

.pop_deep figure.ex {
	position: relative;
	display: block;
	height: 520px;
	margin-top: 20px;
	background: url(../images/page031/page031_pop_deep_01.jpg) center top / 270px auto no-repeat;
	box-sizing: border-box;
}

.pop_deep figure.ex .caption li {
	position: absolute;
	font-size: 15px;
	line-height: 1.4
}

.pop_deep figure.ex .caption li:nth-child(1) {
	top: 13px;
	left: 414px
}

.pop_deep figure.ex .caption li:nth-child(2) {
	top: 74px;
	left: -10px
}

.pop_deep figure.ex .caption li:nth-child(3) {
	top: 330px;
	left: 30px
}

.pop_deep figure.ex .caption li:nth-child(4) {
	top: 273px;
	left: 400px
}

.pop_deep figure.ex .caption li:nth-child(5) {
	top: 444px;
	left: 400px
}

.pop_deep figure.ex .caption li:nth-child(6) {
	top: 490px;
	left: 0px
}

/* ------------------------------------------------------------------------------------------------------------- */
/* [ Popup ] 마무리퀴즈  */
/* 문제 1 */



/* 문제 2 */
.slide_quiz_1 figure.ex {
	width: 147px;
	margin: 0px auto
}

.slide_quiz_1 .items_list {
	/* background: url("../images/page027/page027_pop_finish_03_02.jpg") 0 0 / 560px no-repeat;
	width: 550px;
	height: 180px; */
	/* border: 1px solid red; */
}

.slide_quiz_1 .items_list>li {
	width: 100%;
	height:90px;
	/* border: 1px solid red; */
}

.slide_quiz_1 .items_list>li:first-child {
	height: 60px;
}

.slide_quiz_1 .items_list>li p{
	width: 305px;
	margin: 0 auto;
	text-align: center;
	padding-top: 5px;
}

.slide_quiz_1 .items_list>li:nth-child(1) p {
	height: 36px;
	background: url(../images/page111/page111_2_14.png)0 0 /100% no-repeat;
}

.slide_quiz_1 .items_list>li:nth-child(2) p {
	height: 66px;
	background: url(../images/page111/page111_2_17.png)0 0 /100% no-repeat;
}

.slide_quiz_1 .items_list>li:nth-child(3) p {
	height: 66px;
	background: url(../images/page111/page111_2_20.png)0 0 /100% no-repeat;
}

.slide_quiz_1 .items_list>li::before {
	position: absolute;
	content: '';
}

.slide_quiz_1 .items_list>li:nth-child(1)::before {
	left: 40px;
	background: url(../images/page111/page111_2_03.png)0 0 /100% no-repeat;
	width: 65px;
	height: 62px;
}

.slide_quiz_1 .items_list>li:nth-child(2)::before {
	right: 30px;
	background: url(../images/page111/page111_2_10.png)0 0 /100% no-repeat;
	width:100px;
	height: 60px;
}

.slide_quiz_1 .items_list>li:nth-child(3)::before {
	left: 40px;
	background: url(../images/page111/page111_2_07.png)0 0 /100% no-repeat;
	width: 65px;
	height: 55px;
}

.slide_quiz_1 .items_list>li+li {
	margin-left: 0
}

.slide_quiz_1 .items_list .icon.check.num {
	font-size: 20px
}



.slide_quiz_1 .items_list>li:nth-child(2) .icon.check.num {
	left: 555px
}

/* 문제 3 */
.pop_finish .slide_quiz_2 figure.ex {
	position: relative;
	background: url('../images/page031/page031_pop_finish_q01_01.jpg') center 0px / 345px no-repeat;
	width: 100%;
	height: 210px
}

.pop_finish .slide_quiz_2 figure.ex .txt li {
	position: absolute;
	top: 68px;
	left: 190px
}

.pop_finish .slide_quiz_2 figure.ex .txt li:nth-child(2) {
	top: 143px;
	left: 351px
}

.pop_finish .slide_quiz_2 .draw_way.style1 {
	height: 450px;
	vertical-align: middle
}

.pop_finish .slide_quiz_2 .draw_way.style1>*:nth-child(1) {
	width: 140px;
	padding-left: 30px;
}

.pop_finish .slide_quiz_2 .draw_way.style1>*:nth-child(2) {
	width: calc(100% - 140px - 170px);
}

.pop_finish .slide_quiz_2 .draw_way.style1>*:nth-child(3) {
	width: 140px;
}

.pop_finish .slide_quiz_2 .draw_way.style1>* .num {
	position: absolute;
	left: -30px;
	top: 40px; 
}

.pop_finish .slide_quiz_2 .draw_way.style1 .item_list li {
	position: relative;
	margin-bottom: 45px;
}

.pop_finish .slide_quiz_2 .draw_way.style1 .box.linebox {
	width: 155px;
	height:110px;
	text-align: center;
	margin: 0;
	padding: 8px 10px;
}

.pop_finish .slide_quiz_2 .draw_way.style1 .draw_area .dot:nth-child(1) {
	top: 45px;
}

.pop_finish .slide_quiz_2 .draw_way.style1 .draw_area .dot:nth-child(2) {
	top: 205px;
}

.pop_finish .slide_quiz_2 .draw_way.style1 .draw_area .dot:nth-child(3) {
	top: 360px;
}

.row [data-quiz-pointer=start],
[data-quiz-pointer=start]{
	left: 25px;
}

.pop_finish .slide_quiz_2 .draw_way.style1 li:nth-child(1) img{
 width: 76px;
 margin: 05px auto;
 display: block;

}
.pop_finish .slide_quiz_2 .draw_way.style1 li:nth-child(2) img{
width: 98px;
	margin: 0 auto;
	display: block;
}
.pop_finish .slide_quiz_2 .draw_way.style1 li:nth-child(3) img{
	width: 111px;
	margin: 10px auto;
	display: block;
}

.page111_ul li:nth-child(1) span{
	padding-top: 15px !important;
}

.page111_ul li:nth-child(2) span,
.page111_ul li:nth-child(3) span{
	padding-top: 25px !important;
}

.page111_QuizC span{
	display: block;
}